$panel-body-background-color: dynamic($body-background-color);
$panel-frame-background-color: dynamic($body-background-color);
$panel-frame-border-width: dynamic(4px);
$panel-frame-header-inner-border-color: dynamic($body-background-color);
$panel-header-background-color: dynamic($base-color);
$panel-header-background-gradient: dynamic($base-gradient);
$panel-header-focus-background-color: dynamic($focus-background-color);
$panel-header-focus-color: dynamic($focus-font-color);
$panel-header-focus-outline-offset: dynamic(null);
$panel-header-focus-outline-width: dynamic(null);
$panel-header-font-size: dynamic(24px);
$panel-header-glyph-color: dynamic($font-color);
$panel-header-icon-height: dynamic(18px);
$panel-header-icon-width: dynamic(18px);
$panel-header-inner-border-color: dynamic($body-background-color);
$panel-header-line-height: dynamic(36px);
$panel-header-padding: dynamic(11px 16px 12px 16px);
$panel-light-header-background-color: dynamic($body-background-color);
$panel-light-header-focus-outline-color: dynamic($focus-over-border-color);
$panel-light-tool-focus-outline-color: dynamic($focus-over-border-color);
$panel-tool-focus-background-color: dynamic($focus-background-color);
$panel-tool-focus-color: dynamic(#fff);
$panel-tool-focus-outline-color: dynamic($body-background-color);
$panel-tool-focus-outline-width: dynamic(0px);
$panel-tool-margin: dynamic(2px);
$panel-tool-over-background-color: dynamic(#ffffff);
$panel-tool-over-color: dynamic($base-color);
$panel-tool-spacing: dynamic(8px);
$tool-opacity: dynamic(1);
