$panel-tool-over-background-color: dynamic(#ffffff);
$panel-tool-over-color: dynamic(#ff0000);
$tool-glyph-color: dynamic($font-color);
$tool-glyph-font-size: dynamic(18px);
$tool-size: dynamic(18px);
