$horizontal-slider-thumb-height: dynamic(48px);
$horizontal-slider-thumb-width: dynamic(48px);
$slider-thumb-background-color-focus: dynamic($focus-background-color);
$slider-thumb-background-color-over: dynamic(#ffffff);
$slider-thumb-background-color: dynamic(#c6c6c6);
$slider-thumb-border-color-focus-over: dynamic($focus-over-border-color);
$slider-thumb-border-color-focus: dynamic(#414141);
$slider-thumb-border-color-over: dynamic(#414141);
$slider-thumb-border-color: dynamic(#414141);
$slider-thumb-border-radius: dynamic(0px);
$slider-thumb-border-width-focus-over: dynamic($focus-over-border-width);
$slider-thumb-border-width-focus: dynamic($focus-border-width);
$slider-thumb-border-width: dynamic(4px);
$slider-thumb-glyph-color-focus: dynamic(#ffffff);
$slider-thumb-glyph-font-size: dynamic(18px);
$slider-track-background-color: dynamic(#6d6d6d);
$slider-track-size: dynamic(18px);
