$grid-grouped-header-background-color: dynamic($body-background-color);
$grid-grouped-title-color: dynamic($font-color);
$grid-grouped-title-glyph-color: dynamic($font-color);
$grid-grouped-title-glyph-font-size: dynamic(18px);
$grid-grouped-title-line-height: dynamic(28px);
