$tab-arrow-scroller-margin: dynamic(-31px);
$tabbar-background-gradient: dynamic($base-gradient);
$tabbar-base-color: dynamic(#686868);
$tabbar-padding: dynamic(8px 8px 0px 8px);
$tabbar-plain-padding: dynamic(8px 8px 8px 16px);
$tabbar-plain-scroller-glyph-color: dynamic(#ffffff);
$tabbar-scroller-background-color-over: dynamic(#ffffff);
$tabbar-scroller-glyph-color: dynamic(#ffffff);
$tabbar-scroller-glyph-font-size: dynamic(24px);
$tabbar-scroller-height: dynamic(60px);
$tabbar-scroller-opacity-over: dynamic(1);
$tabbar-scroller-opacity: dynamic(0.75);
$tabbar-strip-background-color: dynamic(#f2f2f2);
$tabbar-strip-border-color: dynamic(#f2f2f2);
$tabbar-strip-height: dynamic(8px);
