$spreadsheet-extender-handle-color: dynamic(#b2b2b2);
$spreadsheet-extender-handle-height: dynamic(12px);
$spreadsheet-extender-handle-width: dynamic(12px);
$spreadsheet-extender-mask-border-style: dynamic(solid);
