$fieldset-checkbox-margin: dynamic(10px 4px 0px 0px);
$fieldset-collapse-tool-margin: dynamic(7px 4px 0 0);
$fieldset-collapse-tool-opacity-over: dynamic(1);
$fieldset-collapse-tool-opacity: dynamic(.75);
$fieldset-collapse-tool-padding: dynamic(0px 0px 0px 0px);
$fieldset-collapse-tool-size: dynamic(25px);
$fieldset-focus-outline: dynamic(unset);
$fieldset-header-font-size: dynamic(24px);
$fieldset-header-line-height: dynamic(36px);
$fieldset-margin: dynamic(0px 0px 10px 0px);
$fieldset-padding: dynamic(0px 15px 10px 15px);
$fieldset-tool-glyph-color-focus: dynamic($focus-font-color);
$fieldset-tool-glyph-color-over: dynamic($base-color);
$fieldset-tool-glyph-font-size: dynamic(24px);
$fieldset-tool-toggle-color-focus: dynamic($focus-font-color);
