$ext-version: '7.0.0.168' !default;  // Updated automatically by the build script.
$ext-trial: false !default; // Updated automatically by the build script.
$ext-beta: false !default; // Updated automatically by the build script.
@import 'compass/css3';

@import 'recipes/gradients';

@import 'mixins';
@import 'functions';
