$form-checkbox-label-font-size: dynamic(18px);
$form-checkbox-label-line-height: dynamic(48px);
$form-checkbox-label-spacing: dynamic(8px);
$form-checkbox-size: dynamic(24px);
$form-error-msg-color: dynamic(#fa7850);
$form-error-under-padding: dynamic(8px 2px 2px 0px);
$form-field-background-color-focus: dynamic($focus-background-color);
$form-field-background-color: dynamic(#6d6d6d);
$form-field-border-color: dynamic(#6d6d6d);
$form-field-border-width: dynamic(0px);
$form-field-placeholder-color: dynamic(#fff);
$form-field-focus-border-color: dynamic($focus-background-color);
$form-field-focus-border-width: dynamic($focus-border-width);
$form-field-focus-over-border-color: dynamic($focus-over-border-color);
$form-field-focus-over-border-style: dynamic(solid);
$form-field-focus-over-border-width: dynamic($focus-over-border-width);
$form-field-height: dynamic(48px);
$form-field-invalid-background-color: dynamic(#6d6d6d);
$form-field-invalid-border-color: dynamic(#fa7850);
$form-field-padding: dynamic(5px 10px 4px 10px);
$form-label-horizontal-spacing: dynamic(8px);
$form-label-line-height: dynamic(27px);
$form-label-vertical-spacing: dynamic(8px);
$form-text-selection-color: dynamic(#0072b2);
$form-trigger-background-color: dynamic(#6d6d6d);
$form-trigger-background-color-over: dynamic(#868686);
$form-trigger-background-color-focus-over: dynamic(#0072b2);
$form-trigger-glyph: dynamic($fa-var-caret-down 24px $font-icon-font-family);
$spinner-trigger-down-glyph: dynamic($ext-var-spinner-down 24px ExtJS);
$spinner-trigger-glyph-color: dynamic($font-color);
$spinner-trigger-padding: dynamic(2px 0 0 0);
$spinner-trigger-up-glyph: dynamic($ext-var-spinner-up 24px ExtJS);
