$form-focus-background-color: $focus-background-color;
$form-hover-inactive-background-color: $hover-inactive-background-color;
$form-text-field-border-width: dynamic(1px);
$form-text-field-body-width: dynamic(180px);
$form-text-field-height: dynamic(44px);
$form-textarea-body-height: dynamic(78px);
$form-text-wrap-padding: dynamic(2px);
$form-textarea-height: dynamic(100%);
$form-trigger-invalid-border-color: dynamic(#cf4c35);
$form-trigger-invalid-border-width: dynamic(1px);
