$breadcrumbbar-leaf-icon: dynamic($ios-leaf);
$breadcrumbbar-folder-icon: dynamic($ios-folder);
$breadcrumbbar-folder-open-icon: dynamic($ios-folder);
$breadcrumbbar-arrow-icon: dynamic($ios-arrow-right);
$breadcrumbbar-arrow-pressed-icon: dynamic($ios-arrow-down);
$breadcrumbbar-arrow-icon-size: dynamic(16px);
$breadcrumbbar-arrow-margin-left: dynamic(6px);
$breadcrumbbar-button-arrow-margin-left: dynamic(15px);