.#{$prefix}drag-column {
    .#{$prefix}header-el {
        border-right: 0;
    }  
}

.#{$prefix}row-drag-indicator:before {
    content: $gridcolumn-drag-icon;
    font-family: $font-icon-font-family;
    position: absolute;
    font-size: $gridcolumn-drag-icon-font-size;
}
