$breadcrumbbar-button-margin: dynamic(0px 4px);
$breadcrumbbar-leaf-icon: dynamic('description');
$breadcrumbbar-folder-icon: dynamic('folder');
$breadcrumbbar-folder-open-icon: dynamic('folder_open');
$breadcrumbbar-arrow-icon: dynamic('keyboard_arrow_right');
$breadcrumbbar-arrow-pressed-icon: dynamic('keyboard_arrow_down');
$breadcrumbbar-split-arrow-margin-left: dynamic(6px);
$breadcrumbbar-button-arrow-margin-left: dynamic(15px);