$datepicker-arrow-glyph-color: dynamic($font-color);
$datepicker-arrow-height: dynamic(56px);
$datepicker-arrow-opacity-over: dynamic(1);
$datepicker-arrow-opacity: dynamic(.75);
$datepicker-background-color: dynamic($body-background-color);
$datepicker-column-header-background-gradient: dynamic($base-gradient);
$datepicker-footer-background-color: dynamic($base-color);
$datepicker-footer-background-gradient: dynamic($base-gradient);
$datepicker-footer-padding: dynamic(16px 0px 16px 0px);
$datepicker-header-background-color: dynamic($base-color);
$datepicker-header-background-gradient: dynamic($base-gradient);
$datepicker-item-disabled-background-color: dynamic(transparent);
$datepicker-item-disabled-color: dynamic(rgba(255, 255, 255, 0.3));
$datepicker-item-height: dynamic(48px);
$datepicker-item-hover-background-color: dynamic(#6d6d6d);
$datepicker-item-prev-next-color: dynamic(rgba(255, 255, 255, 0.4));
$datepicker-item-selected-background-color: dynamic($focus-background-color);
$datepicker-item-selected-color: dynamic($font-color);
$datepicker-item-today-background-color: dynamic(#f2f2f2);
$datepicker-item-today-color: dynamic($base-color);
$datepicker-item-width: dynamic(48px);
$datepicker-month-button-arrow-glyph-color: dynamic($font-color);
$datepicker-month-button-arrow-glyph: dynamic($fa-var-angle-down 28px $font-icon-font-family);
$datepicker-month-button-arrow-width: dynamic(28px);
$datepicker-month-button-font-size: dynamic(24px);
$datepicker-month-button-over-background-color: dynamic(#424242);
$datepicker-month-button-padding: dynamic(14px 14px 14px 20px);
$datepicker-monthpicker-arrow-glyph-color: dynamic($font-color);
$datepicker-monthpicker-item-hover-background-color: dynamic(#6d6d6d);
$datepicker-monthpicker-item-margin: dynamic(2px 5px 2px 5px);
$datepicker-monthpicker-item-selected-background-color: dynamic(#f2f2f2);
$datepicker-monthpicker-item-selected-border-color: dynamic($focus-over-border-color);
$datepicker-monthpicker-item-selected-color: dynamic($base-color);
$datepicker-monthpicker-yearnav-button-height: dynamic(28px);
$datepicker-monthpicker-yearnav-button-width: dynamic(28px);
$datepicker-next-glyph: dynamic($fa-var-angle-double-right 28px $font-icon-font-family);
$datepicker-prev-glyph: dynamic($fa-var-angle-double-left 28px $font-icon-font-family);
