$fi-var-align-center: dynamic('format_align_center');
$fi-var-align-justify: dynamic('format_align_justify');
$fi-var-align-left: dynamic('format_align_left');
$fi-var-align-right: dynamic('format_align_right');
$fi-var-arrow-down: dynamic('arrow_downward');
$fi-var-arrow-back: dynamic('arrow_back');
$fi-var-arrow-right: dynamic('arrow_forward');
$fi-var-arrow-up: dynamic('arrow_upward');
$fi-var-bars: dynamic('menu');
$fi-var-caret-down: dynamic('arrow_drop_down');
$fi-var-caret-left: dynamic('arrow_drop_up' null 270 );
$fi-var-caret-right: dynamic('arrow_drop_up' null 90);
$fi-var-caret-up: dynamic('arrow_drop_up');
$fi-var-check: dynamic('check');
$fi-var-chevron-down: dynamic('chevron_left' null 270);
$fi-var-chevron-left: dynamic('chevron_left');
$fi-var-chevron-right: dynamic('chevron_right');
$fi-var-chevron-up: dynamic('chevron_left' null 90);
$fi-var-edit: dynamic('edit');
$fi-var-ellipsis-h: dynamic('more_horiz');
$fi-var-ellipsis-v: dynamic('more_vert');
$fi-var-filter: dynamic('filter_list');
$fi-var-gear: dynamic('settings');
$fi-var-group: dynamic('group');
$fi-var-home: dynamic('home');
$fi-var-minus: dynamic('remove');
$fi-var-lock: dynamic('lock');
$fi-var-pencil: dynamic('edit');
$fi-var-plus: dynamic('add');
$fi-var-print: dynamic('print');
$fi-var-refresh: dynamic('refresh');
$fi-var-redo: dynamic('redo');
$fi-var-save: dynamic('save');
$fi-var-search: dynamic('search');
$fi-var-star: dynamic('star');
$fi-var-times: dynamic('close');
$fi-var-trash: dynamic('delete');
$fi-var-th: dynamic('view_module');
$fi-var-th-list: dynamic('list');
$fi-var-undo: dynamic('undo');
$fi-var-unlock: dynamic('lock_open');
$fi-var-user: dynamic('person');
