$background-color: dynamic(#ffffff);
$base-color: dynamic(#1b1b1b);
$base-gradient: dynamic(none);
$body-background-color: dynamic(#424242);
$calendar-event-day-padding: dynamic(0px 0px);
$calendar-header-color: dynamic($base-color);
$color: dynamic(contrast-color-by($body-background-color, 75));
$enable-font-icons: dynamic(true);
$focus-background-color: dynamic(#56b4e9);
$focus-border-width: dynamic(0px);
$focus-font-color: dynamic(#ffffff);
$focus-over-border-color: dynamic(#ffffff);
$focus-over-border-width: dynamic(3px);
$font-color: dynamic(#ffffff);
$font-size: dynamic(18px);
$font-weight: dynamic(400);
$highlight-color: dynamic(contrast-color-by($body-background-color, 62));
$hover-inactive-background-color: dynamic(#868686);
$include-slicer-gradient: dynamic($base-gradient);
$line-height: dynamic(27px);
$neutral-color: dynamic(contrast-color-by($body-background-color, 18));
$neutral-dark-color: dynamic(if(lightness($body-background-color) > 50, mix(#000, $neutral-color, 30.4%), mix(#ffffff, $neutral-color, 80%)));
$neutral-light-color: dynamic(if(lightness($body-background-color) > 50, mix(#ffffff, $neutral-color, 80%), mix(#000, $neutral-color, 30.4%)));
