$checkboxfield-checkbox-color: dynamic($neutral-dark-color);
$checkboxfield-checkbox-size: dynamic(20px);
$checkboxfield-checkbox-size-big: dynamic(20px);
$checkboxfield-checkbox-icon: dynamic($ios-check-box-unchecked iOS);
$checkboxfield-checked-checkbox-icon: dynamic($ios-check-box-checked iOS);
$checkboxfield-checkbox-font-size: dynamic(16px);
$checkboxfield-checkbox-font-size-big: dynamic(20px);
$checkboxfield-checked-checkbox-color: dynamic($base-color);
$checkboxfield-disabled-checkbox-color: dynamic($neutral-color);
