$box-scroller-menu-arrow-base-color: dynamic(#1b1b1b);
$box-scroller-menu-arrow-base-icon-opacity: dynamic(0.5);
$box-scroller-menu-arrow-base-opacity: dynamic(1);
$box-scroller-menu-arrow-base-text-color: dynamic(#e2e2e2);
$box-scroller-menu-arrow-height: dynamic(20px);
$box-scroller-menu-arrow-hover-background: dynamic(#ffffff);
$box-scroller-menu-arrow-hover-opacity: dynamic(0.8);
$box-scroller-menu-arrow-left: dynamic(0);
$box-scroller-menu-arrow-margin: dynamic(0px);
$box-scroller-menu-arrow-padding: dynamic(2px);
$box-scroller-menu-arrow-width: dynamic(100%);
$fieldcontainer-min-height: dynamic(50px);

