.blog-post {
    h3 {
        margin-bottom: .5em;

        a {
            color: #000;
            font-weight: bold;
            text-decoration: none;
            line-height: 1.3em;
            border-bottom: 1px solid #ddd;
        }
    }
}
