.dataview-horizontal {
    background-color: if($theme-name == 'theme-ios', #EFEFF4, #f5f5f5);

    .dark-mode & {
        background-color: if($theme-name == 'theme-ios', #EFEFF4, #232323);
    }

    .name {
        width: 75px;
    }

    .img {
        display: inline-block;
        width: 75px;
        height: 75px;
        background-repeat: no-repeat;
        background-size: 104%;
        background-position: 50%;
        border-radius: if($theme-name == 'theme-material', 50%, 0);
    }

    .#{$prefix}dataview-item {
        @include box-shadow(0px 5px 10px -6px black);
        padding: 10px 10px 20px;
        margin: 10px 0 10px 10px;
        background-color: white;

        .dark-mode & {
            background-color: #373737;
        }

        &:last-child {
            margin-right: 10px;
        }

        div {
            color: black;
            padding-top: 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;

            .dark-mode & {
                color: white;
            }
        }
    }
}
