.dataview-inline {
    background-color: #f5f5f5;
    padding: 20px 0 0 20px;

    .dark-mode & {
        background-color: #232323;
    }

    .img {
        display: inline-block;
        width: 75px;
        height: 75px;
        background-repeat: no-repeat;
        background-size: 104%;
        background-position: 50%;
        border-radius: if($theme-name == 'theme-material', 50%, 0);

        @include box-shadow(0px 8px 10px -6px black);
    }

    .#{$prefix}dataview-item {
        margin: 0 20px 20px 0;
    }
}
