$resizer-border-color: $focus-over-border-color;
$resizer-border-style: dynamic(dotted);
$resizer-border-width: dynamic(2px);
$resizer-handle-glyph-color: dynamic($base-color);
$resizer-handle-glyph-font-size: dynamic(18px);
