$collapse-tool-size: dynamic(48px);
$splitter-active-background-color: dynamic(contrast-color-by($body-background-color, 29));
$splitter-collapse-tool-background-color: dynamic($base-color);
$splitter-collapse-tool-bottom-glyph-padding: dynamic(2px 0px 0px 0px);
$splitter-collapse-tool-glyph-color: dynamic($font-color);
$splitter-collapse-tool-glyph-font-size: dynamic(18px);
$splitter-focus-background-color: dynamic(#56b4e9);
$splitter-focus-color: dynamic(#fff);
$splitter-focus-outline-width: dynamic(0px);
