$btn-group-background-color: dynamic($base-color);
$btn-group-border-color: dynamic($base-color);
$btn-group-border-spacing: dynamic(8px);
$btn-group-framed-background-color: dynamic(#4f4f4f);
$btn-group-header-background-color: dynamic($base-color);
$btn-group-header-color: dynamic($font-color);
$btn-group-header-font-size: dynamic(24px);
$btn-group-header-line-height: dynamic(36px);
$btn-group-inner-border-color: dynamic($body-background-color);
