/**
 * @class Ext.field.trigger.Time
 */

/**
 * @var {number}
 * Time Trigger width
 */
$timetrigger-width: dynamic(null);

/**
 * @var {number}
 * Time Trigger width in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$timetrigger-width-big: dynamic(null);

/**
 * @var {color}
 * Time Trigger background-color
 */
$timetrigger-background-color: dynamic(null);

/**
 * @var {color}
 * Time Trigger background-color when hovered
 */
$timetrigger-hovered-background-color: dynamic(null);

/**
 * @var {color}
 * Time Trigger background-color when pressed
 */
$timetrigger-pressed-background-color: dynamic(null);

/**
 * @var {string}
 * Time Trigger icon
 */
$timetrigger-icon: dynamic($fa-var-clock);

/**
 * @var {color}
 * Time Trigger icon color
 */
$timetrigger-icon-color: dynamic(null);

/**
 * @var {color}
 * Time Trigger icon color when hovered
 */
$timetrigger-hovered-icon-color: dynamic(null);

/**
 * @var {color}
 * Time Trigger icon color when pressed
 */
$timetrigger-pressed-icon-color: dynamic(null);

/**
 * @var {color}
 * Time Trigger icon background-color
 */
$timetrigger-icon-background-color: dynamic(null);

/**
 * @var {color}
 * Time Trigger icon background-color when hovered
 */
$timetrigger-hovered-icon-background-color: dynamic(null);

/**
 * @var {color}
 * Time Trigger icon background-color when pressed
 */
$timetrigger-pressed-icon-background-color: dynamic(null);

/**
 * @var {number/list}
 * Time Trigger icon border-radius
 */
$timetrigger-icon-border-radius: dynamic(null);

/**
 * @var {number}
 * Time Trigger icon size
 */
$timetrigger-icon-size: dynamic(null);

/**
 * @var {number}
 * Time Trigger icon size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$timetrigger-icon-size-big: dynamic(null);

/**
 * @var {number}
 * Time Trigger icon font-size
 */
$timetrigger-icon-font-size: dynamic(null);

/**
 * @var {number}
 * Time Trigger icon font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$timetrigger-icon-font-size-big: dynamic(null);

/**
 * Creates a visual theme for a Time Trigger.
 *
 * @param {string} $ui
 * The name of the UI being created. Can not included spaces or special punctuation
 * (used in CSS class names).
 *
 * @param {String} [$xtype=timetrigger] (protected) The {@link Ext.Class#xtype} to use
 * in CSS selectors.  For use by UI mixins of derived classes.
 *
 * @param {number} $width
 * Time Trigger width
 *
 * @param {number} $width-big
 * Time Trigger width in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {color} $background-color
 * Time Trigger background-color
 *
 * @param {color} $hovered-background-color
 * Time Trigger background-color when hovered
 *
 * @param {color} $pressed-background-color
 * Time Trigger background-color when pressed
 *
 * @param {string} $icon
 * Time Trigger icon
 *
 * @param {color} $icon-color
 * Time Trigger icon color
 *
 * @param {color} $hovered-icon-color
 * Time Trigger icon color when hovered
 *
 * @param {color} $pressed-icon-color
 * Time Trigger icon color when pressed
 *
 * @param {color} $icon-background-color
 * Time Trigger icon background-color
 *
 * @param {color} $hovered-icon-background-color
 * Time Trigger icon background-color when hovered
 *
 * @param {color} $pressed-icon-background-color
 * Time Trigger icon background-color when pressed
 *
 * @param {number/list} $icon-border-radius
 * Time Trigger icon border-radius
 *
 * @param {number} $icon-size
 * Time Trigger icon size
 *
 * @param {number} $icon-size-big
 * Time Trigger icon size in the {@link Global_CSS#$enable-big big} sizing scheme
 *
 * @param {number} $icon-font-size
 * Time Trigger icon font-size
 *
 * @param {number} $icon-font-size-big
 * Time Trigger icon font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
@mixin timetrigger-ui(
    $ui: null,
    $xtype: timetrigger,
    $width: null,
    $width-big: null,
    $background-color: null,
    $hovered-background-color: null,
    $pressed-background-color: null,
    $icon: null,
    $icon-color: null,
    $hovered-icon-color: null,
    $pressed-icon-color: null,
    $icon-background-color: null,
    $hovered-icon-background-color: null,
    $pressed-icon-background-color: null,
    $icon-border-radius: null,
    $icon-size: null,
    $icon-size-big: null,
    $icon-font-size: null,
    $icon-font-size-big: null
) {
    $arguments: intersect-arguments(timetrigger-ui, trigger-ui);

    @include trigger-ui($arguments...);
}
