$fr-editor-background-color: dynamic($background-color);
$fr-editor-toolbar-background-color: dynamic($alt-background-color);
$fr-editor-font-color: dynamic($color);
$fr-menu-expanded-background-color: dynamic($alt-background-color);
$fr-toolbar-border-bottom-color: dynamic($reverse-alt-border-color);
$fr-editor-border-color: dynamic($reverse-border-color);
$fr-toolbar-active-background-color: dynamic($hovered-background-color);
