@include chip-ui(
    $height: $chip-height,
    $height-big: $chip-height-big,
    $color: $chip-color,
    $cursor: $chip-cursor,
    $selected-color: $chip-selected-color,
    $hovered-color: $chip-hovered-color,
    $disabled-color: $chip-disabled-color,
    $background-color: $chip-background-color,
    $selected-background-color: $chip-selected-background-color,
    $hovered-background-color: $chip-hovered-background-color,
    $disabled-background-color: $chip-disabled-background-color,
    $opacity: $chip-opacity,
    $hovered-opacity: $chip-hovered-opacity,
    $disabled-opacity: $chip-disabled-opacity,
    $border-radius: $chip-border-radius,
    $border-radius-big: $chip-border-radius-big,
    $icon-size: $chip-icon-size,
    $icon-size-big: $chip-icon-size-big,
    $height: $chip-height,
    $height-big: $chip-height-big,
    $font-size: $chip-font-size,
    $font-size-big: $chip-font-size-big,
    $text-margin: $chip-text-margin,
    $text-margin-big: $chip-text-margin-big,
    $text-line-height: $chip-text-line-height,
    $text-line-height-big: $chip-text-line-height-big,
    $margin: $chip-margin,
    $margin-big: $chip-margin-big,
    $focused-outline-width: $chip-focused-outline-width,
    $focused-outline-style: $chip-focused-outline-style,
    $focused-outline-color: $chip-focused-outline-color,
    $focused-outline-offset: $chip-focused-outline-offset,
    $close-icon: $chip-close-icon,
    $close-icon-cursor: $chip-close-icon-cursor,
    $close-icon-color: $chip-close-icon-color,
    $close-icon-hovered-color: $chip-close-icon-hovered-color,
    $close-icon-selected-color: $chip-close-icon-selected-color,
    $close-icon-selected-hovered-color: $chip-close-icon-selected-hovered-color,
    $close-icon-background-color: $chip-close-icon-background-color,
    $close-icon-hovered-background-color: $chip-close-icon-hovered-background-color,
    $close-icon-selected-background-color: $chip-close-icon-selected-background-color,
    $close-icon-selected-hovered-background-color: $chip-close-icon-selected-hovered-background-color,
    $close-icon-border-radius: $chip-close-icon-border-radius,
    $close-icon-border-radius-big: $chip-close-icon-border-radius-big,
    $close-icon-size: $chip-close-icon-size,
    $close-icon-size-big: $chip-close-icon-size-big,
    $close-icon-font-size: $chip-close-icon-font-size,
    $close-icon-font-size-big: $chip-close-icon-font-size-big,
    $close-icon-margin: $chip-close-icon-margin,
    $close-icon-margin-big: $chip-close-icon-margin-big,
    $close-icon-spacing: $chip-close-icon-spacing,
    $close-icon-spacing-big: $chip-close-icon-spacing-big
);